<form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
  <h1>{{ loginTitle }}</h1>

  <div class="form-control">
    <label for="username">{{ usernameLabel }}</label>
    <input
      formControlName="username"
      id="username"
      autocomplete="username"
      type="text"
      placeholder="{{ usernamePlaceholder }}"
      autofocus
    >
  </div>

  <button
    type="submit"
    [disabled]="!canResend || isLoading || !loginForm.valid"
  >{{ submitButtonLabel }}</button>

  <ng-container *ngIf="isLoading">
    <div>{{ loadingMessage }}</div>
  </ng-container>

  <ng-container *ngIf="userName; else statusMessages">
    <p>{{ welcomeMessage }}</p>
  </ng-container>

  <ng-template #statusMessages>
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
    <p *ngIf="countdown$ | async as countdown ">{{ getResendMessage(countdown) }}</p>
  </ng-template>

</form>
